<!DOCTYPE html>
<html>
    <head>
               <title> sahiNotes</title>
               <%- style %> 
    </head>
    <body>
         <%- include('_header') %> <!-- use partials to help to reduce code  -->
         <%- body ; %>
         <%- include('_footer') %>
         
    </body>
</html>